.container {
    float: left;
}

.border {
    border: solid 2px black;
    border-radius: 20px;
    margin-left: 10px;
    float: left;
    width: 565px;
    height: 275px;
    padding: 5px;
}

.radio {
    margin-top: 120px;
    float: left;
}

.imageBorder {
    margin: auto;
    width: 485px;
    height: 272px;
    float: right;
    margin-right: 1px;
}

.button {
    margin-top: 20px;
    height: 100px;
    width: 200px;
    clear: both;
    float: left;
}